* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common css */
.btn-primary {
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(78, 71, 255);
  text-transform: capitalize;
  padding: 15px 30px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: green;
  color: tomato;
  /* transform: scale(1.2); */
  transform: translateY(-2px);
}

/* header section applay css starts here */
/* hero-section */
.hero-section {
  background-image: url(../Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* navbar */
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  list-style: none;
}
.nav-list a {
  text-decoration: none;
  font-size: 34px;
  color: rgb(78, 71, 255);
  font-weight: bold;
  transition: all 0.3s ease;
}
.nav-list a:hover {
  color: tomato;
  border-bottom: 2px solid tomato;
}

/* banner section */
.banner-content {
  text-align: center;
  padding: 200px 250px;
}
.banner-heading {
  font-size: 65px;
  font-weight: bold;
  color: rgb(37, 36, 50);
  margin-bottom: 37px;
}

/* header section applay css ends here */

/* live preview section starts here */
.container {
  margin: 116px 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.live-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.live-preview .action h2 {
  font-size: 42px;
  font-weight: 700;
  color: rgb(37, 36, 50);
  margin-bottom: 23px;
}
.live-preview .action p {
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}

.live-preview .live-preview-img img {
  width: 403px;

  height: 328px;
  border-radius: 48px;
}

/* live preview section ends here */

/* user section section starts here */

.user-container {
  background-color: rgba(78, 71, 255, 0.1);
  margin-top: 137px;
  border-radius: 24px;
  text-align: center;
  padding: 50px 142px;
}
.user-container h3 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(37, 36, 50);
  margin-bottom: 40px;
}
.user-counts {
  display: flex;
  justify-content: space-evenly;
  gap: 161px;
}

.user-count {
  display: block;
  color: rgb(78, 71, 255);
  font-size: 50px;
  font-weight: bold;
}
.user-subtitle {
  font-size: 16x;
  color: rgba(37, 36, 50, 0.5);
}

/*  user section section ends here   */

/* user feedback start here */
.feedback h3 {
  font-size: 42px;
  font-weight: bold;
  color: rgb(37, 36, 50);
  text-align: center;
  margin-top: 137px;
  margin-bottom: 50px;
}
.card-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.card {
  background-color: rgb(171, 188, 212);
  padding: 25px;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.card:hover {
  box-shadow: 10px 7px 5px rgb(41, 49, 61);
  transform: scale(1.05);
}
.card h2 {
  margin-top: 24px;
  color: rgb(37, 36, 50);
}
.user-info {
  display: flex;
  gap: 10px;
  margin-top: 14px;
  align-items: center;
}
.user-info img {
  border-radius: 50%;
}
.user-data span {
  color: gray;
}
.user-data p {
  color: rgb(61, 54, 54);
}

/* user feedback end here */

/* trial section starts here*/
.trial {
  margin-top: 137px;
  text-align: center;
  padding: 71px 150px;
  background-color: rgba(24, 14, 14, 0.616);
  border-radius: 10px;
}
.trial h2 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(37, 36, 50);
  margin-bottom: 20px;
}
.trial p {
  font-size: 15px;
  margin-top: 20px;
}
.trial button {
  margin: 20px auto;
}
.trial-img {
  text-align: center;
}
.trial-img img {
  width: 840px;
  height: 364px;
  border-radius: 48px;
}

/* trial section ends here */

/* review section starts here */
.review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 115px;
  margin-top: 106px;
}
.review h2 {
  font-size: 97px;
  color: rgb(37, 36, 50);
  font-weight: bold;
  width: 50%;
}
.review form {
  width: 50%;
  padding: 71px 0;
}
.review label {
  display: block;
  font-size: 18px;
}
.review input,
.review textarea {
  width: 100%;
  background-color: rgba(171, 188, 212, 0.123);
  padding: 20px 32px;
  margin: 19px 0;
  border: none;
  border-radius: 10px;
}

#form-btn {
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(78, 71, 255);
  text-transform: capitalize;
  padding: 15px 30px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
}
#form-btn:hover {
  background-color: green;
  color: tomato;
  /* transform: scale(1.2); */
  transform: translateY(-2px);
}

/* review section ends here */
